body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

#planetImage {
    width: 600px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}

#clickCount {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold; /* Make font bold */
    color: white;
    
}