body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

#planetImage {
    width: 450px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
    transform: scale(1);
    user-select: none; /* Disable text selection */
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
    outline: none;
}

#clickCount {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold; /* Make font bold */
    color: white;
    
}